attrs==16.2.0
click==6.6
coreapi==2.0.8
coverage==4.2
flake8==3.0.4
itypes==1.1.0
jsonref==0.1
markdown2==2.3.1
mccabe==0.5.2
py==1.4.31
pycodestyle==2.0.0
pyflakes==1.2.3
pytest==3.0.2
PyYAML==3.12
raml-codec==0.1.1
ramlfications==0.1.9
requests==2.11.1
six==1.10.0
termcolor==1.1.0
uritemplate==3.0.0
xmltodict==0.10.2
